[Desktop Entry]
Type=Application
Name=IBus
Exec=ibus-daemon -d -r --xim
NoDisplay=true
X-GNOME-Autostart-Phase=Applications
X-GNOME-Autostart-Delay=2
